<!--Footer-->
<div class="footer">
    <div class="container">
        <div class="sub-footer">
            <div class="monhoc">Công Cụ Phát Triển Phần Mềm</div>
            <div class="nhom">Nhóm 4</div>
            <div class="divider"></div>
            <div class="leftpart">
                <a href="#">Giới thiệu một nhà hàng</a>
                <a href="#">Đăng ký nhà hàng</a>
                <a href="#">Tuyển dụng</a>
                <a href="#">Cam kết bảo mật</a>
                <a href="#">Chính sách giải quyết khiếu nại</a>
            </div>
            <div class="copyright">
                <p>© 2018 Vietnammm.com</p>
            </div>
        </div>
    </div>
</div>
<!--End-Footer-->
<!-- </div>
</body>
</html> -->