<!--Content-->
<div class="content">
	<div class="container">
		<div class="sudung">
			<h2><span>Sử dụng Vietnammm.com như thế nào ?</span></h2>
			<h2><span class="h1">Vô cùng dễ dàng</span></h2>
		</div>
		<div class="huongdan">
			<div class="buoc b1">
				<img src="assets/image/b1.png">
				<h3><span>Nhập vị trí của bạn</span></h3>
				<p>Chọn quận của bạn để hiển thị danh sách nhà hàng</p>
			</div>
			<div class="buoc b2">
				<img src="assets/image/b2.png">
				<h3><span>Nhập vị trí của bạn</span></h3>
				<p>Chọn quận của bạn để hiển thị danh sách nhà hàng</p>
			</div>
			<div class="buoc b3">
				<img src="assets/image/b3.png">
				<h3><span>Nhập vị trí của bạn</span></h3>
				<p>Chọn quận của bạn để hiển thị danh sách nhà hàng</p>
			</div>
		</div>
	</div>
</div>
<div class="content-app-inner">
	<div class="app-inner">
		<!-- 	<img src="assets/image/apps_vn.jpg"> -->
		<h1><span>Tải ứng dụng Vietnammm.com</span></h1>
		<h1><span>Click chuột và tận hưởng sự tiện dụng</span></h1>
		<img src="assets/image/android.png">
		<img src="assets/image/ios.png">
	</div>
</div>
<div class="uudai">
	<div class="container">
		<div class="title">
			<h1><span>Vietnammm.com</span></h1>
			<h1><span id="tg">Thời gian quý báu cho bạn</span></h1>
		</div>
		<div class="box-ud">
			<div class="ud ud1">
				<span class="listbox-icon" data-icon=""><i class="fa fa-bullhorn"></i></span>
				<h2><span>Uư đãi cho bạn</span></h2>
				<ul>
					<li>
						Khuyến mãi hằng ngày và xu hướng mới trên Twitter, Facebook và Instagram.
					</li>
				</ul>
			</div>
			<div class="ud ud2">
				<span class="listbox-icon" data-icon=""><i class="fa fa-handshake-o"></i></span>
				<h2><span>Đảm bảo với bạn</span></h2>
				<ul>
					<li>Không tính phí dịch vụ</li>
					<li>Chất lượng dịch vụ tuyệt vời</li>
					<li>Giá đảm bảo: thanh toán với giá bằng với giá tại nhà hàng</li>
				</ul>
			</div>
			<div class="ud ud3">
				<span class="listbox-icon" data-icon=""><i class="fa fa-check" aria-hidden="true"></i></span>
				<h2><span>Lợi ích cho bạn</span></h2>
				<ul>
					<li>1500 nhà hàng đối tác giao tận nơi cho mọi nhu cầu của bạn</li>
					<li>Thanh toán online hoặc bằng tiền mặt</li>
					<li>Đặt món mọi lúc mọi nơi bằng ứng dụng di động</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="banquyen">
	<a href="#">
		<img src="assets/image/dadangky.png">
	</a>
	<a href="#">
		<img src="assets/image/safeweb.png">
	</a>
</div>
<!--End-Content-->