<!--Header-->
<header>
    <div class="container">
        <div class="logo">
            <a href="/" class="home"></a>
            <!-- <img src="https://www.vietnammm.com/assets/images/logo/vietnammm.png" border="0" alt="datmon"> -->
        </div>
        <div class="country">
            <select id="option-country">
                <option value="vn">VN</option>
                <option value="anh">Anh</option>
                <option value="phap">Pháp</option>
                <option value="my">Mỹ</option>
            </select>
        </div>
        <div class="info">
            <a (click)="loadDialog()" class="login-window button"><i class="fa fa-bars"></i></a>
            <div id="login-box" class="login">
                <p class="login_title">Tài Khoản Của Tôi</p>
                <a (click)="closeDialog()" class="close"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                <form method="post" class="login-content" action="#">
                    <div class="userpanel-wrapper">
                        <ul>
                            <li><a href="#" class="dangnhap"><i class="fa fa-user" aria-hidden="true"></i> Đăng
                                    Nhập </a></li>
                            <li><a href="#" class="dangky"><i class="fa fa-registered" aria-hidden="true"></i> Đăng
                                    Ký </a></li>

                        </ul>
                    </div>
                    <!-- <label class="username">
                <span>Tên hoặc email</span>
                <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
                </label>
                <label class="password">
                <span>Mật khẩu</span>
                <input id="password" name="password" value="" type="password" placeholder="Password">
                </label>
                <button class="button submit-button" type="button">Đăng nhập</button>
                <p>
                <a class="forgot" href="#">Quên mật khẩu?</a>
                </p>     -->
                </form>
            </div>
        </div>
        <div class="thongtin">
            <h1><span>Đặt thức ăn dễ dàng</span></h1>
            <h2><span>Chọn nhà hàng trong khu vực của bạn</span></h2>
            <div class="hienthi">
                <!-- <form name="myname"> -->
                <select (change)="loadTownship(city)" [(ngModel)]="city">
                    <option value="0">Chọn Thành Phố</option>
                    <option *ngFor="let ct of data" [value]="ct.id" ngDefaultControl>{{ct?.name}}</option>
                </select>
                <!-- </form> -->
                <!-- <form> -->
                <select (change)="loadFood(township)" [(ngModel)]="township">
                    <option value="0">Chọn Quận</option>
                    <option *ngFor="let ts of townships" [value]="ts.id" ngDefaultControl>{{ts.name}}</option>
                </select>
                <!-- </form> -->
                <div class="hienthi"><a href="javascript:void(0)" (click)="onSubmit()" class="hienthi-a">HIỂN THỊ</a></div>
            </div>
        </div>
    </div>
</header>
<!--End-Header-->