<!--Content-->
<div class="content-tk">
  <div class="container">
    <div class="column-left">
      <div class="img-logo" *ngIf="checkImageR">
        <img [src]="restaurant?.image" (error)="checkImageR = false">
      </div>
      <div class="mon-an">
        <h4>Thông tin nhà hàng</h4>
        <p>Tên nhà hàng:</p>
        <ul>
          <li>{{restaurant?.name}}</li>
        </ul>
        <p>Giờ giao hàng:</p>
        <ul>
          <li>{{restaurant?.timeOpen}}</li>
        </ul>
        <p>Địa chỉ:</p>
        <ul>
          <li>{{restaurant?.address}}</li>
        </ul>
        <p>Hình thức thanh toán:</p>
        <ul>
          <li>Tiền mặt</li>
        </ul>
        <p>Khu vực giao hàng:</p>
        <ul>
          <li *ngFor="let a of area">{{a.name+', '+a.city}}</li>
        </ul>
      </div>
      <div class="donhang">
        <h4>Giỏ hàng</h4>
        <div>
          <ul>
            <li *ngFor="let li of listItem">{{li.name}} {{li.price}} {{li.number}}</li>
            <li>Tổng cộng: {{sum()}}</li>
            <li *ngIf="sum()"><button class="btn btn-primary" (click)="sendData()">Gửi đơn hàng</button></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="column-right">
      <div class="mon-yeu-thich">
        <span class="tl-mon-an">Món Mới</span>
        <div class="col line-1" *ngFor="let f of food">
          <div class="mon-an-logo" *ngIf="checkImage">
            <img class="thumbnail" width="200px" [src]="f.image" (error)="checkImage = false">
          </div>
          <div class="tt-mon-right">
            <div class="title-mon">
              <a href="javascript:void(0)" class="monan">{{f.name}}</a>
            </div>
          </div>
          <div class="tt-mon-left">
            <button class="btn-price" (click)="onAddItem(f)"><span class="price">{{f.price}} | <i class="fa fa-plus"
                  aria-hidden="true"></i></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>