<!--Content-->
<div class="content-tk">
  <div class="container">
    <div class="thanhtoan">
      <h1>Bạn đã sẵn sàng để thưởng thức?</h1>
      <h2>Thông tin giao hàng</h2>
      <div class="thongtingiaohang">
        <div class="grid addressinfo">
          <p class="add-info">Số nhà và tên đường: </p>
          <input class="address" type="" name="" placeholder="Nhập số nhà và tên đường">
        </div>
        <div class="grid district">
          <p class="add-info">Quận: </p>
          <select class="sl district">
            <option>Đống Đa, Hà Nội</option>
            <option>Đống Đa, Hà Nội</option>
            <option>Đống Đa, Hà Nội</option>
            <option>Đống Đa, Hà Nội</option>
          </select>
        </div>
        <div class="grid where">
          <p class="add-info">Nơi đến: </p>
          <select class="sl where">
            <option>Nhà</option>
            <option>Căn Hộ</option>
            <option>Khách Sạn</option>
            <option>Khu Biệt Thự</option>
          </select>
        </div>
        <div class="grid ward">
          <p class="add-info">Phường: </p>
          <input class="address" type="" name="" placeholder="Nhập phường">
        </div>
      </div>
      <div class="thongtincanhan">
        <p class="thongtincanhan">Thông tin cá nhân</p>
        <div class="grid name">
          <p class="add-info">Tên: </p>
          <input class="address" type="" name="" placeholder="Nhập tên">
        </div>
        <div class="grid email">
          <p class="add-info">Email: </p>
          <input class="address" type="" name="" placeholder="Nhập email">
        </div>
        <div class="grid phone">
          <p class="add-info">Số điện thoại: </p>
          <input class="address" type="" name="" placeholder="Nhập số điện thoại">
        </div>
        <div class="grid namect">
          <p class="add-info">Tên công ty: </p>
          <input class="address" type="" name="" placeholder="Nhập tên công ty">
        </div>
      </div>
      <div class="thoigiangiaohang">
        <p class="thoigiangiaohang">Thời Gian Giao Hàng</p>
          <div class="grid where">
            <p class="add-info">Vui lòng chọn thời gian giao hàng: </p>
            <select class="sl where">
              <option>Càng nhanh càng tốt</option>
              <option>17:30</option>
              <option>17:45</option>
              <option>18:00</option>
            </select>
          </div>
          <div class="grid where">
            <p class="ghichu">Ghi chú</p>
            <textarea class="ghichu"></textarea>
            <div class="checkboxFive">
               <input type="checkbox" value="1" id="checkboxFiveInput" name="" />
               <label for="checkboxFiveInput"></label>
               <span>Save these remarks for your next order.</span>
            </div>
          </div>
      </div>
      <div class="hoantat">
        <button class="btn-hoantat">Hoàn Tất</button>
      </div>
    </div>

  </div>
</div>

<!--End-Content-->